
html{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
*,*::before, *::after{
  box-sizing: border-box;
}
input,
textarea,
select,
button{
  line-height: normal;
}
label,
button{
cursor: pointer;
text-decoration: none;
display: block;
max-width: 100%;
}
a{
  text-decoration: none;
}
img{
  display: block;;
  max-width: 100%;
}
.youtobe-list{
  display: grid;
  grid-template-columns: reprat(4,1fr);
  grid-gap:25px;
  padding: 25px;
}

.youtobe-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.youtobe-footer{
  display: flex;
  align-items:flex-start ;
  gap:0 20px ;
}
.youtobe-avatar{
  height: 100%;
  width: 100%;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.youtobe-author{
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

